{% extends "base.html" %}

{% block page_description %} {% endblock %}
{% block title%} {{ super() }} {% endblock %}

{% block content %}

<div id="index-content" class="well">

  <p>
    Загадка - проверенный веками и народным опытом самый занимательный способ обучения детей и знакомства их с окружающим миром, в каждой детской загадке сосредоточена мудрость и любовь многих поколений взрослых. Познавать мир через загадки намного интереснее, чем по сухим школьным учебникам или мудрёным объяснениям взрослых - не с проста наши дети так любят их разгадывать.
  </p>

  <p>
    Эффективность использования детских загадок была давно подтверждена ведущими педагогами уже бывшего СССР и не оспаривается по сей день, более того, многие учителя, мамы, папы и просто талантливые люди продолжают придумывать новые загадки, отражающие реалии современного мира, тем самым продолжая древние традиции нашего народа.
  </p>
  <p>
    Цель данного сайта не столько развлечь забрёдшего сюда случайного путника, сколько собрать и классифицировать имеющийся народный опыт, позволить Вам подобрать материал для проведения урока в школе или детском саду. Но даже если Вы не являетесь учителем, то всегда можете просто повеселить Вашего ребёнка парой загадок о его любимой кошке или о жителях леса, в который Вы собираетесь поехать на выходных.
  </p>
  <p>
    Мы искренне надеемся, что наш ресурс окажется полезен Вам и Вашим детям и каждый день будем стараться сделать его больше лучше и полезнее.
  <p>

</div>

{% endblock %}
