h1, h2 {
  font-family: 'Georgia', 'Times', 'Times New Roman', serif;
  font-size: 20pt;
}
h1 {
  font-size: 24pt;
}
a {
  color: #3333EE;
  text-decoration: none;
}
a:hover {
  color: #6666FF;
  text-decoration: underline;
}
a:visited {
  color: #551A8B;
}
ol,
ul,
menu,
dl {
  margin: 0;
  padding: 0.5em 0.5em;
}
dl dd, dl dt {
  margin: 0;
  padding: 0;
}
dl dt {
  display: inline-block;
}
p {
  text-indent: 2em;
}
header img {
  vertical-align: middle;
}
footer {
  text-align: center;
  border-top: 1px dotted #0066ff;
  padding: 1em;
}
body {
  margin: 0;
}
#top-line {
  background-color: #eeeeff;
  border-bottom: 1px dotted #0066ff;
  font-size: 9pt;
  line-height: 1.5;
  margin: 0;
  padding: 2px 30px;
  width: auto;
}
#body-content {
  margin: 20px auto;
  width: 740px;
  font-family: 'Lucida Grande', 'Tahoma', sans-serif;
  font-size: 11pt;
}
#category-menu {
  display: inline-block;
  width: 130px;
  vertical-align: top;
}
#category-menu #category-menu-wrapper {
  background-color: #eeeeff;
  border-left: 1px dotted #0066ff;
}
#category-menu #category-menu-wrapper h2 {
  margin: 0;
  margin-left: 0.3em;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  font-size: 12pt;
  border-bottom: 1px dotted #0066ff;
}
#category-menu #category-menu-wrapper menu {
  list-style-type: none;
  font-size: 9pt;
  line-height: 1.5;
}
#category-menu #category-menu-wrapper menu li.other {
  border-top: 1px dotted #0066ff;
}
#index-content {
  display: inline-block;
  width: 550px;
}
#index-content p:first-child {
  margin-top: 0;
}
#category-content {
  display: inline-block;
  width: 550px;
}
#category-content .category-header {
  margin: 0.5em;
  margin-top: 0;
}
#category-content .category-header h2 {
  margin: 0;
  margin-bottom: 0.25em;
}
#category-content .riddles-list {
  list-style-type: none;
}
#category-content .riddles-list .riddle {
  background-color: #eeeeff;
  font-family: 'Monaco', 'Courier New', monospace;
  font-size: 10pt;
  font-weight: normal;
  margin-top: 0em;
  margin-bottom: 1em;
  padding: 0.25em;
  border: 1px dotted #0066ff;
}
#category-content .riddles-list .riddle .text-body {
  padding: 0.25em;
  border-bottom: 1px dotted #0066ff;
}
#category-content .riddles-list .riddle .answer {
  padding: 0.25em;
}
#category-content .riddles-list .riddle .answer-caption {
  font-weight: bold;
}
.paginator {
  list-style-type: none;
  margin-left: 0.5em;
  color: #000000;
  font-weight: bold;
}
.paginator ol {
  display: inline-block;
}
.paginator li {
  display: inline-block;
}
.paginator li a {
  font-weight: normal;
}
.paginator.top {
  /* padding-top: 0; */

}
.paginator.bottom {
  padding-bottom: 0;
}
