<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="google-site-verification" content="NBSTfMiGxTWpCR9u63aaXfStsYcmbF4KKvQ4GZvsNk8"/>
    <meta name='yandex-verification' content='74f48284671a60d9' />
    <meta name="y_key" content="3f547433fdae8359" />
    <meta name="msvalidate.01" content="35B98E095FBD70248E5D9BAAEA71F3C9" />

    <meta name="keywords" content="{% block page_keywords %}загака, загадки, детские загадки, загадки для детей, ответы на загадки, {% endblock %}"/>
    <meta name="description" content="{% block page_description %}Каталог загадок{% endblock %}"/>

    <title>{% block title%}Загадки для детей{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ LESS_CSS_URL }}javascript.css" />

    <script type="text/javascript" src="{{ STATIC_URL }}plugins/jquery/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}plugins/jquery/jquery.cookie.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" />
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

    {% block head %}{% endblock%}

    <!-- begin of Top100 code -->
    <script id="top100Counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?1877122"></script>
    <noscript><img src="http://counter.rambler.ru/top100.cnt?1877122" alt="" width="1" height="1" border="0"/></noscript>
    <!-- end of Top100 code -->

    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      {lang: 'ru'}
    </script>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

    <script type="text/javascript">

      window.vkAsyncInit = function() {
          VK.init({apiId: 2399596, onlyWidgets: true});
          VK.Widgets.Like("vk_like", {type: "mini", pageUrl: "http://{{settings.SITE_URL}}"});
          VK.Widgets.Group("vk_groups", {mode: 1, width: "auto", height: "290"}, 39305380);
      };

      setTimeout(function() {
          var el = document.createElement("script");
          el.type = "text/javascript";
          el.src = "http://vkontakte.ru/js/api/openapi.js";
          el.async = true;
          document.getElementById("vk_api_transport").appendChild(el);
      }, 0);

    </script>
    <div id="vk_api_transport"></div>
    <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-505d67570062215a"></script>
  </head>

  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Детские загадки обо всём на свете</a>
          {% block head_navigation_additions %} {% endblock %}
        </div>
      </div>
    </div>

    <div class="container">

      <div class="row">

        <div class="span2">

          <ul class="nav nav-list well">
            <li class="nav-header">Категории</li>

            {% for category in categories %}
            {% if category.url != 'other' %}
            <li>
              <a href="{{ url('riddles:', category.url, 1) }}">{{ category.name }}</a>
            </li>
            {% endif %}
            {% endfor %}

            <li class="divider"></li>
            {% for category in categories %}
            {% if category.url == 'other' %}
            <li class="other">
              <a href="{{ url('riddles:', category.url, 1) }}">{{ category.name }}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>

          <div id="buttons-wrapper">
            <div class="g-plusone" data-annotation="buble" data-href="http://zagadki.org"></div>
            <div id="vk_like" style="margin-bottom: 3px;"></div>
            <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-url="http://zagadki.org" data-lang="ru"></a>
            <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="http://zagadki.org/" send="false" layout="button_count" width="130" show_faces="true" font=""></fb:like>
          </div>
          <br/>
          <div id="vk_groups"></div>
        </div>

        <div class="span10">
          {% block content %}
          {% endblock %}
        </div>

      </div>

    </div>

    <footer style="text-align: center;">

      <!-- begin of Top100 logo -->
      <a href="http://top100.rambler.ru/home?id=1877122" target="_blank">
        <img src="http://top100-images.rambler.ru/top100/w2.gif" alt="Rambler's Top100" width="88" height="31" border="0" /></a>
      <!-- end of Top100 logo -->

      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>

      <script type="text/javascript">
        try {
        var pageTracker = _gat._getTracker("{{settings.GA_CODE}}");
        pageTracker._trackPageview();
        } catch(err) {}</script>
    </footer>

  </body>
</html>
