{% extends "base.html" %}

{% block page_keywords %}{{ super() }} {{category.caption}} {% endblock %}

{% block page_description %}

{% if page_number == 1 %}
{{ category.description }}
{% else %}
{{ category.caption }} с {{ riddles_from }} по {{ riddles_to }}.
{{ category.description }}
{% endif %}

{% endblock %}

{% block title%}
{% if page_number == 1 %}
{{ category.caption }}. {{ super() }}
{% else %}
{{ category.caption }}. Страница {{ page_number }}. {{ super() }}
{% endif %}
{% endblock %}

{% macro paginator(page_number, total_pages, classes="") %}
{% set pages = paginator_pages(page_number, total_pages) %}

{% if total_pages > 1 %}
<div class="pagination pagination-small">
    <ul>
      {% for page in pages %}
      <li class="{% if page == page_number %}active{% endif %}"><a href="{{ url('riddles:', category.url, page) }}">{{ page }}</a></li>
      {% endfor %}
    </ul>
</div>

{% endif %}

{% endmacro %}

{% block head%}
{{ super() }}

{% if page_number == 1 and pages_count > 1 %}
<link rel="next" href="{{ url('riddles:', category.url, page_number+1) }}" />
{% endif %}

{% if page_number != 1 and pages_count == page_number %}
<link rel="previous" href="{{ url('riddles:', category.url, page_number-1) }}" />
{% endif %}

{% if page_number != 1 and pages_count != page_number %}
<link rel="previous" href="{{ url('riddles:', category.url, page_number-1) }}" />
<link rel="next" href="{{ url('riddles:', category.url, page_number+1) }}" />
{% endif %}

<script>
    jQuery(document).ready(function(){

        var showAnswerLink = jQuery('.pgf-show-answers');
        var hideAnswerLink = jQuery('.pgf-hide-answers');

        var answers = jQuery('.pgf-answer-wrapper');

        function ChangeAnswersVisibility(show_answers) {
            if (show_answers == 'show') {
                showAnswerLink.toggleClass('active', true);
                hideAnswerLink.toggleClass('active', false);
                jQuery('.pgf-answer', answers).toggleClass('pgf-hidden', false);
                jQuery('.pgf-answer-show', answers).toggleClass('pgf-hidden', true);
            }
            else {
                showAnswerLink.toggleClass('active', false);
                hideAnswerLink.toggleClass('active', true);
                jQuery('.pgf-answer', answers).toggleClass('pgf-hidden', true);
                jQuery('.pgf-answer-show', answers).toggleClass('pgf-hidden', false);
            }
        }

        var showAnswerState = jQuery.cookie('show_answers');
        if (!showAnswerState) {
            showAnswerState = 'show';
        }

        ChangeAnswersVisibility(showAnswerState);

        showAnswerLink.click(function(e){
            ChangeAnswersVisibility('show');
            jQuery.cookie('show_answers', 'show', { path: '/' });
            e.preventDefault();
        });

        hideAnswerLink.click(function(e){
            ChangeAnswersVisibility('hide');
            jQuery.cookie('show_answers', 'hide', { path: '/' });
            e.preventDefault();
        });

        answers.click(function(e){
            var el = jQuery(this);

            jQuery('.pgf-answer', el).toggleClass('pgf-hidden', false);
            jQuery('.pgf-answer-show', el).toggleClass('pgf-hidden', true);
        });
    });
</script>

{% endblock %}

{% block head_navigation_additions %}
<ul class="nav nav-pills pgf-show-hide-answers">
  <li class="active pgf-hide-answers"><a href="#">скрыть ответы</a></li>
  <li class="pgf-show-answers"><a href="#">показать ответы</a></li>
</ul>

{% endblock %}

{% block content %}

<div id="category-content" itemscope itemtype="http://schema.org/ItemList">

  <h3 itemprop="headline">
    {{ category.caption }} <small>(с {{ riddles_from }} по {{ riddles_to }})</small>
  </h3>

  <p itemprop="description">{{ category.description }}</p>

  <meta itemprop="url" content="{{ url('riddles:', category.url, 1) }}" />
  <meta itemprop="about" content="{{ category.caption }}" />
  <meta itemprop="name" content="{{ category.caption }}" />
  <meta itemprop="genre" content="загадки" />
  <meta itemprop="isFamilyFriendly" content="True" />

  {{ paginator(page_number, pages_count, "top") }}

  <dl class="riddles-list">
    {% for riddle in riddles %}

    <div itemscope itemtype="http://schema.org/CreativeWork" itemprop="itemListElement" >
      <h3 class="riddle-link">
        <a itemprop="url"
           href="{{ url('riddles:', category.url, page_number) }}#riddle-{{ riddle.id }}"
           id="riddle-{{ riddle.id }}"
           rel="bookmark">
          загадка №{{ loop.index + offset}}
        </a>
      </h3>
      <meta itemprop="genre" content="загадки" />
      <meta itemprop="isFamilyFriendly" content="True" />
      <meta itemprop="keywords" content="загадка, {{ riddle.answer }}" />
      <div class="riddle">
        <dd class="text-body" itemprop="description">{{ riddle.text|endl2br }}</dd>
        <span class="answer" >
          <span class="answer-caption">Ответ:</span>
          <span class="pgf-answer-wrapper">
            <dt itemprop="about" class="pgf-answer">{{ riddle.answer }}</dt>
            <a href="#" class="pgf-answer-show pgf-hidden">ответ на загадку</a>
          </span>
        </span>
      </div>
    </div>

    {% endfor %}
  </dl>

  {{ paginator(page_number, pages_count, "bottom") }}

</div>

{% endblock %}
