{% extends "riddles/base.html" %}
{% import "riddles/macros.html" as riddles_macros with context %}

{% block page_description %}

{% if page_number == 1 %}
{{ category.description }}
{% else %}
{{ category.caption }} с {{ riddles_from }} по {{ riddles_to }}.
{{ category.description }}
{% endif %}

{% endblock %}

{% block title%}
{% if page_number == 1 %}
{{ category.caption }}. {{ super() }}
{% else %}
{{ category.caption }}. Страница {{ page_number }}. {{ super() }}
{% endif %}
{% endblock %}

{% macro paginator(page_number, total_pages, classes="") %}
{% set pages = paginator_pages(page_number, total_pages) %}

{% if total_pages > 1 %}
<div class="pagination pagination-small">
    <ul>
      {% for page in pages %}
      <li class="{% if page == page_number %}active{% endif %}"><a href="{{ url('riddles:', category.url, page) }}">{{ page }}</a></li>
      {% endfor %}
    </ul>
</div>

{% endif %}

{% endmacro %}

{% block head%}
{{ super() }}

{% if page_number == 1 and pages_count > 1 %}
<link rel="next" href="{{ url('riddles:', category.url, page_number+1) }}" />
{% endif %}

{% if page_number != 1 and pages_count == page_number %}
<link rel="previous" href="{{ url('riddles:', category.url, page_number-1) }}" />
{% endif %}

{% if page_number != 1 and pages_count != page_number %}
<link rel="previous" href="{{ url('riddles:', category.url, page_number-1) }}" />
<link rel="next" href="{{ url('riddles:', category.url, page_number+1) }}" />
{% endif %}

{% endblock %}

{% block content %}

<div itemscope itemtype="http://schema.org/ItemList">

  <h3 itemprop="headline">
    {{ category.caption }} <small>(с {{ riddles_from }} по {{ riddles_to }})</small>
  </h3>

  <p itemprop="description">{{ category.description }}</p>

  <meta itemprop="url" content="{{ url('riddles:', category.url, 1) }}" />
  <meta itemprop="about" content="{{ category.caption }}" />
  <meta itemprop="name" content="{{ category.caption }}" />
  <meta itemprop="genre" content="загадки" />
  <meta itemprop="isFamilyFriendly" content="True" />

  {{ paginator(page_number, pages_count, "top") }}

  <dl>
    {% for riddle in riddles %}
    {{ riddles_macros.riddle_item(loop.index + offset, riddle, in_list=true) }}
    {% endfor %}
  </dl>

  {{ paginator(page_number, pages_count, "bottom") }}

</div>

{% endblock %}
