
{% macro riddle_item(index, riddle) %}

<div itemscope itemtype="http://schema.org/CreativeWork" itemprop="itemListElement" class="well well-small">
  <div class="pull-left" style="width: 60px; margin-left: -10px; text-align: center;">
    <a itemprop="url"
       href="{{ url('riddles:show', riddle.id) }}"
       id="riddle-{{ riddle.id }}"
       rel="bookmark"
       style="margin-left: 10px;">
      #{% if index is not none%}{{ index}}{% else %}ссылка{% endif %}
    </a>
  </div>

  <meta itemprop="genre" content="загадки" />
  <meta itemprop="isFamilyFriendly" content="True" />
  <meta itemprop="keywords" content="загадка, {{ riddle.answer }}" />

  <dd class="text-body" itemprop="description" style="margin-left: 50px;">{{ riddle.text|endl2br }}</dd>
  <div class="pgf-answer-wrapper" style="margin-top: 5px; margin-left:50px;">
    <dt itemprop="about" class="{% if show_answers=='hide'%}pgf-hidden{% endif %} pgf-answer">
      <a href="javascript: return;" style="color: black;">{{ riddle.answer }}</a>
    </dt>
    <a href="javascript: return;" class="{% if show_answers=='show'%}pgf-hidden{% endif %} pgf-answer-show" style="border-bottom: 1px dashed;">ответ</a>
  </div>

</div>

{% endmacro %}
