

{% macro addthis(title, description, url=none) %}

{% if url is none %}
{% set url = resource.request.build_absolute_uri()%}
{% endif %}

  <div class="addthis_toolbox addthis_default_style pull-right"
       addthis:ui_language="ru"
       addthis:services_exclude="print"

       {% if settings.GA_CODE %}
       addthis:ga_property="{{settings.GA_CODE}}"
       addthis:ga_social="true"
       {% endif %}
       >
    <a class="addthis_button"
       style="border-bottom: 1px dashed;"
       addthis:title="{{title}}"
       addthis:description="{{description}}"
       addthis:url="{{url}}"
       addthis:data_track_addressbar="false"
       addthis:data_track_clickback="false"
       addthis:track_addressbar="false"
       addthis:track_clickback="false">
       поделиться
    </a>
  </div>
{% endmacro %}

{% macro riddle_item(index, riddle, in_list=false) %}

<div itemscope itemtype="http://schema.org/CreativeWork" {% if in_list %}itemprop="itemListElement"{% endif %} class="well well-small">
  <div class="pull-left" style="width: 60px; margin-left: -10px; text-align: center;">
    <a itemprop="url"
       href="{{ url('riddles:show', riddle.id) }}"
       id="riddle-{{ riddle.id }}"
       rel="bookmark"
       style="margin-left: 10px;">
      #{% if index is not none%}{{ index}}{% else %}ссылка{% endif %}
    </a>
  </div>

  {% set riddle_url = 'http://' + settings.SITE_URL + url('riddles:show', riddle.id) %}
  {% set title = "«%s» №%d" % (category.caption, riddle.id) %}
  {% set description = riddle.text %}
  {{ addthis(title=title, description=description, url=riddle_url) }}

  <meta itemprop="genre" content="загадки" />
  <meta itemprop="isFamilyFriendly" content="True" />
  <meta itemprop="keywords" content="загадка, {{ riddle.answer }}" />

  <dd class="text-body" itemprop="text" style="margin-left: 50px;">{{ riddle.text|endl2br }}</dd>
  <div class="pgf-answer-wrapper" style="margin-top: 5px; margin-left:50px;">
    <dt itemprop="about" class="{% if show_answers=='hide'%}pgf-hidden{% endif %} pgf-answer">
      <a href="#" onclick="return false" style="color: black;">{{ riddle.answer }}</a>
    </dt>
    <a href="#" onclick="return false" class="{% if show_answers=='show'%}pgf-hidden{% endif %} pgf-answer-show" style="border-bottom: 1px dashed;">ответ</a>
  </div>

</div>

{% endmacro %}
